[submodule "Config/plugins/corsica"]
	path = Config/plugins/corsica
	url = https://github.com/BlurryRoots/ws-corsica
[submodule "Config/plugins/swap-ctl"]
	path = Config/plugins/swap-ctl
	url = https://github.com/BlurryRoots/ws-swap-ctl
[submodule "Config/plugins/qpaeq-ctl"]
	path = Config/plugins/qpaeq-ctl
	url = https://github.com/BlurryRoots/ws-qpaeq-ctl
[submodule "Config/plugins/goggy"]
	path = Config/plugins/goggy
	url = https://github.com/BlurryRoots/ws-goggy
